<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Chicago</h1>
  <div>
    <div>
      <p>Temperature (avg): {{ temp }}</p>
      <p>Temperature (high): {{ maxtemp }}</p>
      <p>Temperature (low): {{ mintemp }}</p>
      <p>Humidity: {{ humidity }}</p>
      <p>Status: {{ clouds }}</p>
    </div>
  </div>
</body>
</html>